/condicionales/problema1/Planilla_Luz/nbproject/private/
/condicionales/problema1/Planilla_Luz/build/
/condicionales/problema2/Costo_Pedido/nbproject/private/
/condicionales/problema2/Costo_Pedido/build/
/condicionales/problema3/Automovil/nbproject/private/
/condicionales/problema3/Automovil/build/
/condicionales/problema4/Hosteria/nbproject/private/
/condicionales/problema4/Hosteria/build/
