/condicionales/problema1/Planilla_Luz/nbproject/private/
/condicionales/problema1/Planilla_Luz/build/
/condicionales/problema2/Costo_Pedido/nbproject/private/
/condicionales/problema2/Costo_Pedido/build/
/condicionales/problema3/Automovil/nbproject/private/
/condicionales/problema3/Automovil/build/
/condicionales/problema4/Hosteria/nbproject/private/
/condicionales/problema4/Hosteria/build/
/manejo-entrada-salida/problema01/Area_Triangulo/nbproject/private/
/manejo-entrada-salida/problema01/Area_Triangulo/build/
/manejo-entrada-salida/problema02/Gastos_Hijos/nbproject/private/
/manejo-entrada-salida/problema02/Gastos_Hijos/build/
/manejo-entrada-salida/problema03/Planilla_Telefono/nbproject/private/
/manejo-entrada-salida/problema03/Planilla_Telefono/build/
/manejo-entrada-salida/problema03/Computador_Precio/nbproject/private/
/manejo-entrada-salida/problema04/Computadora_Precio/nbproject/private/
/manejo-entrada-salida/problema04/Computadora_Precio/build/
/manejo-entrada-salida/problema05/Servicios_Digitales/nbproject/private/
/manejo-entrada-salida/problema05/Servicios_Digitales/build/
